************

/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0%;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #fff;
	--color-headertje: #F36E21;
	--color-extras: #F1F2F2;
	--color-roze: #EC128D;
	--color-accentje: #EC559F;
	--color-blue: #6FC5EA;
	--color-paragraafjes: #aaa;
	--color-andergrijs: #f5f5f5;
	--color-h4: #512d00;
	--color-achtergrondplaatje: #DDBC8D;
	--color-buttons-footer: #ED4D27;
}

img {
	max-width: 100%;
}

/*https://www.dafont.com/dunkin.font*/

@font-face {
	font-family: DunkinDonuts;
	src: url(/fonts/Dunkin.otf);
}

@font-face {
	font-family: DunkinDonutsBold;
	src: url(/fonts/Dunkin\ Bold.otf);
}

/* https://www.onlinewebfonts.com/fonts */

@font-face {
	font-family: DunkinDonutsSansBook;
	src: url(/fonts/Dunkin\ Sans\ Book.ttf);
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* HOMEPAGE */
/* HEADER */


header {
	background-color: var(--color-background);
}

header p {
	background-color: var(--color-headertje);
	color: var(--color-background);
	padding: 3%;
	margin: 0%;
	font-family: 'DunkinDonutsSansBook';
	font-size: 90%;
	border: none;
}

header img {
	background-color: var(--color-extras);
	padding: 3%;
	width: 5%;
	margin: 6%;
	border-radius: 40%;
}

header nav {
	display: flex;
	justify-content: end;
	margin-top: -14%;
}

header div{
	margin: 0px 5px;
}

h1 {
	display: flex;
	justify-content: center;
	margin-top: -20%;
	font-family: 'DunkinDonutsBold';
	text-transform: uppercase;
	color: var(--color-headertje);
}

h1 span {
	color: var(--color-roze)
}

/* WE LOVE COFFEE SECTION */

.home section:nth-of-type(1) article:nth-of-type(1) h2 {
	font-family: 'DunkinDonutsBold';
	text-transform: uppercase;
	position: absolute;
	left: 0;
	color: var(--color-background);
	font-size: 250%;
	line-height: 1;
	text-align: center;
	display: flex;
	justify-content: center;
}

.home section:nth-of-type(1) article:nth-of-type(1) {
	margin: 7%;
}

.home section:nth-of-type(1) :nth-of-type(1) img:nth-of-type(1) {
	background: var(--color-achtergrondplaatje);
	border-radius: 1.5em;
}

.home section:nth-of-type(1) article:nth-child(1) {
	position: relative;
	overflow: hidden;
	height: 21.5em;
}

.home section:nth-of-type(1) img:nth-of-type(2), section:nth-of-type(1) img:nth-of-type(3), section:nth-of-type(1) img:nth-of-type(4) {
	width: 50%;
	transform: translateY(-228px) scale(.70);
}

.home section:nth-of-type(1) img:nth-of-type(3){
	transform: translateY(-600px) scale(.70) translateX(250px);
}

.home section:nth-of-type(1) img:nth-of-type(4){
	transform: translateY(-930px) scale(1.1) translateX(80px);
}



/* BESTEL SECTION */

.home section:nth-of-type(1) article:nth-of-type(2) {
	background-color: var(--color-roze);
	padding: 6%;
	margin: 5%;
	border-radius: 2em;
}

.home section:nth-of-type(1) article:nth-of-type(2) h2 {
	color: var(--color-background);
	font-family: 'DunkinDonutsBold';
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	font-size: 300%;
	margin: 0%;
}

.home section:nth-of-type(1) article:nth-of-type(2) {
	color: var(--color-background);
	font-family: 'DunkinDonutsSansBook';
}

.home section:nth-of-type(1) article:nth-of-type(2) p{
	text-transform: none;
}


.home section:nth-of-type(1) article:nth-of-type(2) button {
	font-family: 'DunkinDonutsBold';
	width: 50vw;
	height: 5vh;
	text-transform: uppercase;
	border-radius: 1em;
	border: none;
}

.home section:nth-of-type(1) div {
	display: flex;
	justify-content: center;
	text-decoration: none;
	gap: 5%;
}

.home section:nth-of-type(1) div button:nth-child(1) {
	color: var(--color-roze);
}

.home section:nth-of-type(1) div button:nth-child(2) {
	background-color: var(--color-accentje);
	color: var(--color-background);
}


/* AJAX SECTION */

.home section:nth-of-type(1) article:nth-of-type(3) {
	background-color: var(--color-blue);
	color: var(--color-background);
	font-family: DunkinDonutsBold;
	border-radius: 2em;
	margin: 5%;
	height: 25em;
	text-align: center;
	overflow: hidden;
}

.home section:nth-of-type(1) article:nth-of-type(3) h2 {
	text-transform: uppercase;
	font-size: 300%;
	text-align: center;
	line-height: 0.9;
	padding: 15%;
	text-transform: uppercase;
	transform: translateY(-12em);
}

.home section:nth-of-type(1) article:nth-of-type(3) img {
	transform: translateY(6em) scale(1.2);
}


/* BESTEL DUNKIN ONLINE SECTION */

.home section:nth-of-type(2) h2 {
	font-family: 'DunkinDonutsBold';
	text-transform: uppercase;
	font-size: 400%;
	line-height: .9;
	text-align: left;
	font-weight: 700;
	margin-left: 5%;
	color: var(--color-roze);
}

.home section:nth-of-type(2) h2 span {
	color: var(--color-headertje);
}

.home section:nth-of-type(2) li {
	display: flex;
	align-items: center;
	background-color: var(--color-extras);
	border-radius: 2em;
	padding: 5%;
	list-style-type: none;
	margin: 6%;
	gap: 15px;
}

.home section:nth-of-type(2) ol {
	padding: 0%;
}

.home section:nth-of-type(2) h3 {
	font-family: DunkinDonutsBold;
	text-transform: uppercase;
	color: var(--color-roze);
	word-spacing: -.3em;
	font-size: 1.4em;
	line-height: 1em;
}

.home section:nth-of-type(2) p {
	font-family: DunkinDonutsSansBook;
	margin: 0%;
}

.home section:nth-of-type(2) img {
	background-color: var(--color-roze);
	width: 25%;
	height: 25%;
	border-radius: 50px;
	padding: 0.8em;
}

.home section:nth-of-type(2) a {
	text-decoration: none;
	background-color: var(--color-headertje);
	color: var(--color-background);
	margin: 1.2em;
	padding: 20px 120px;
	font-family: 'DunkinDonutsBold';
	text-transform: uppercase;
	border-radius: 10em;
}

/* APP JIJ M AL SECTION */

.home section:nth-of-type(3) {
	background-color: var(--color-blue);
	color: var(--color-background);
	border-radius: 2em;
	margin: 5%;
	height: 40em;
	text-align: center;
	overflow: hidden;
}

.home section:nth-of-type(3) h2 {
	font-family: DunkinDonutsBold;
	margin: 10%;
	font-size: 250%;
	text-transform: uppercase;
}

.home section:nth-of-type(3) h3 {
	font-family: DunkinDonutsBold;
	text-transform: uppercase;
}

.home section:nth-of-type(3) p {
	font-family: DunkinDonutsSansBook;
	margin: 5%;
}


.home section:nth-of-type(3) img:nth-of-type(3) {
	transform: translateY(60px) scale(2);
}

/* OPROEP AAN VEGANS SECTION */

.home section:nth-of-type(4) {
	margin: 5%;
	overflow: hidden;
}

.home section:nth-of-type(4) h3 {
	font-family: 'DunkinDonuts';
	color: var(--color-roze);
	font-size: 200%;
	line-height: 1.1;
	margin: 5%;
}

.home section:nth-of-type(4) p {
	color: var(--color-paragraafjes);
	font-family: 'DunkinDonutsSansBook';
	margin: 5%;
	font-size: 120%;
	display: flex;
	align-items: end;
}

.home section:nth-of-type(4) img {
	border-radius: 2em;
}


/* ALLE BUTTONS/LINKJES */

.home section:nth-of-type(3) a,
.home section:nth-of-type(4) a,
.home section:nth-of-type(5) a,
.home article:nth-of-type(1) a,
main a:last-child,
.page2 section:nth-of-type(3) a
{
	background-color: var(--color-headertje);
	color: var(--color-background);
	font-family: 'DunkinDonutsBold';
	padding: 5%;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	border-radius: 2em;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 0.9em;
	text-decoration: none;
}

/* DEN BOSCH SECTION */

.home section:nth-of-type(5) img {
	border-radius: 2em;
	margin: 5%;
	width: 90%;
}

.home section:nth-of-type(5) h2 {
	color: var(--color-headertje);
	font-family: 'DunkinDonutsBold';
	text-transform: capitalize;
	font-size: 200%;
	margin: 5%;
	line-height: 0.9;
}


.home section:nth-of-type(5) p {
	color: var(--color-paragraafjes);
	font-family: 'DunkinDonutsSansBook';
	font-size: 120%;
	margin: 5%;
	line-height: 1.5;
}


/* DD NIEUWS SECTION */

.home article:nth-of-type(1) {
	background-color: var(--color-andergrijs);
	margin: 5%;
}

.home article:nth-of-type(1) section h2 {
	font-family: 'DunkinDonutsBold';
	color: var(--color-headertje);
	font-size: 300%;
	grid-column-start: 1;
	line-break: normal;
	margin: 5%;
	transform: translateY(30px);
	line-height: 1.2;
}


.home article:nth-of-type(1) span {
	color: var(--color-roze);
}

.home article:nth-of-type(1) div, 
.page2 section:nth-of-type(3) div{
	display: flex;
	overflow-x: scroll;
}

.home article:nth-of-type(1) article, 
.page2 section:nth-of-type(3) article {
	border: .25em solid var(--color-extras);
	border-radius: 2em;
	margin: 5%;
	padding: 5%;

}


/* BRON: https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit */

.home article:nth-of-type(1) article img {
	width: 100%;
	padding: 5%;
	border-radius: 2em;
	margin: 5%;
	height: 12em;
	object-fit: cover;
}

.home article:nth-of-type(1) article h3, 
.page2 section:nth-of-type(3) article h3 {
	background-color: var(--color-roze);
	padding: 5%;
	color: var(--color-background);
	font-family: 'DunkinDonutsBold';
	text-transform: uppercase;
	border-radius: 3em;
	margin: 5%;
	font-size: 80%;
	width: 35%;
	display: flex;
	justify-content: center;
}

.home article:nth-of-type(1) article h4,
.page2 section:nth-of-type(3) article h4 {
	color: var(--color-h4);
	font-family: 'DunkinDonutsBold';
	font-size: 120%;
	margin: 5%;
}


/* STORE FINDER SECTION */

.home .storefinder {
	background-color: var(--color-roze);
	text-transform: uppercase;
	font-family: 'DunkinDonutsBold';
	padding: 5%;
	margin: 5%;
	border-radius: 2em;
	overflow: hidden;
}

.home .storefinder h2 {
	color: var(--color-background);
	font-size: 250%;
	line-height: 1.2;
}

.home .storefinder img:nth-of-type(1) {
	width: 70vw;
	height: 32vh;
	object-fit: cover; 
	border-radius: 100%;
	display: flex;
	justify-content: center;
	border: .75em solid var(--color-extras);
}

.home .storefinder img:nth-of-type(2){
	background-color: var(--color-background);
	border-radius: 100%;
	width: 30%;
	transform: rotate(-20deg);
	transform: translate(12em, -19em);
	box-shadow: 3px 3px 10px var(--color-text);
}

.home .storefinder h3{
	color: var(--color-background);
	text-align: center;
	transform: translateY(-5em);
}

.home .storefinder a{
	text-decoration: none;
	background-color: var(--color-background);
	color: var(--color-roze);
	padding: 5%;
	border-radius: 5em;
	display: flex;
	justify-content: center;
	transform: translateY(-5em);
}


/* FOOTER */

footer div{
	height: 20em;
	background-color: var(--color-headertje);
}

footer ul:nth-of-type(1){
	list-style-type: none;
	padding: 5%;
	transform: translateY(5em);
}

 .dunkinLogo{
	width: 40vw;
	transform: translate(7em, 6em);	
	background-color: var(--color-andergrijs);
	border-radius: 5em;
	box-shadow: 5px 5px 15px  var(--color-text);
}

footer div li{
	text-transform: uppercase;
	font-family: DunkinDonutsBold;
	background-color: var(--color-buttons-footer);
	width: 80%;
	color: var(--color-background);
	padding: 5%;
	margin: 5%;
	text-align: center;
	border-radius: 2em;
}

footer nav div:nth-of-type(2){
	display: flex;
	justify-content: center;
}

footer nav div:nth-of-type(2) img{
	background-color: var(--color-background);
	object-fit: cover;
	width: 3%;
	height: 5%;
	padding: 5%;
	border-radius: 10em;
	transform: translateY(10em);
}

footer ul:nth-child(2){
	font-family: 'DunkinDonutsSansBook';
	color: var(--color-paragraafjes);
	font-size: 80%;
	display: flex;
}

/* PAGE 2 */
/* EERSTE FOTO */

.dunkindonutsdoos{
	margin: 25%;
	width: 350px;
	height: 300px;
	object-fit: cover;
	border-radius: 1em;
	transform: translate(-5em, 2em);
}

/* EERSTE SECTION */

.page2 section:nth-of-type(1) h3{
	font-family: DunkinDonutsBold;
	color: var(--color-headertje);
	text-transform: uppercase;
	margin: 5%;
	font-size: 90%;
}

.page2 section:nth-of-type(1) h2{
	font-family: DunkinDonutsBold;
	margin: 5%;
	font-size: 110%;
	line-height: 1.5;
	color: var(--color-h4);
}

.page2 section:nth-of-type(1) p{
	font-family: DunkinDonutsSansBook;
	margin: 5%;
	line-height: 1.5;
	color: var(--color-paragraafjes);
	font-size: 120%;
}

.page2 div:nth-of-type(1) img:nth-of-type(2){
	margin: 5%;
	width: 350px;
	height: 400px;
	object-fit: cover;
	border-radius: 1em;
}

.page2 div:nth-of-type(1) img:nth-of-type(3){
	margin: 5%;
	width: 350px;
	height: 200px;
	object-fit: cover;
	border-radius: 1em;
}

/* TWEEDE SECTION */

.page2 section:nth-of-type(2) h2{
	font-family: DunkinDonutsBold;
	margin: 5%;
	color: var(--color-h4);
	font-size: 120%;
}

.page2 section:nth-of-type(2) p{
	font-family: DunkinDonutsSansBook;
	color: var(--color-paragraafjes);
	margin: 5%;
	line-height: 1.5;
}

/* DERDE SECTION */

.page2 section:nth-of-type(3){
	background-color: var(--color-andergrijs);
}

.page2 section:nth-of-type(3) h2{
	font-family: DunkinDonutsBold;
	margin: 2%;
	color: var(--color-headertje);
	font-size: 300%;
	line-height: .9;
	text-transform: uppercase;
	padding: 5%;
}

.page2 section:nth-of-type(3) h2 span{
	color: var(--color-roze);
}

.page2 section:nth-of-type(3) a{
	transform: translateY(-3em);
}

/* VIERDE SECTION STOREFINDER */

.page2 section:nth-of-type(4){
	background-color: var(--color-roze);
	padding: 5%;
}

.page2 section:nth-of-type(4) h2{
	color: var(--color-background);
	font-family: DunkinDonutsBold;
	text-transform: uppercase;
	font-size: 300%;
	text-align: center;
	line-height: .9;
}

.page2 section:nth-of-type(4) article{
	background-color: var(--color-background);
	padding: 5%;
	border-radius: 2em;
	border: 2px solid var(--color-extras);
	margin: 0%;
}

.page2 section:nth-of-type(4) input{
	width: 90%;
	border: none;
	border-bottom: 1px solid var(--color-paragraafjes);
	padding: 5%;
	font-family: DunkinDonutsSansBook;
}

.page2 section:nth-of-type(4) h3{
	font-family: DunkinDonutsBold;
	text-transform: uppercase;
	color: var(--color-roze);
	font-size: 80%;
	padding: 2%;
	border-bottom: 1px solid var(--color-paragraafjes);
}

.page2 section:nth-of-type(4) h4{
	font-family: DunkinDonutsBold;
	text-transform: uppercase;
	color: var(--color-roze);
	font-size: 80%;
	transform: translateX(3em);
}

.page2 section:nth-of-type(4) ul{
	list-style-type: none;
	font-family: DunkinDonutsBold;
	font-size: 70%;
}

.page2 section:nth-of-type(4) li:nth-of-type(1),
.page2 section:nth-of-type(4) li:nth-of-type(2),
.page2 section:nth-of-type(4) li:nth-of-type(3),
.page2 section:nth-of-type(4) li:nth-of-type(5) {
	color: var(--color-paragraafjes);
}

.page2 section:nth-of-type(4) li:nth-of-type(4){
	margin: 10px 0px;
	color: var(--color-text);
}